<template>
  <q-layout>
    <Navbar/>
    <div class="d-none d-md-block">
      <div class="row">
        <div class="col-md-4 col-lg-3">
          <Profile/>
        </div>
        <div class="col-md-9 col-lg-9">
          <q-page-container>
            <router-view></router-view>
          </q-page-container>
        </div>
      </div>
    </div>
  </q-layout>
</template>


<script>
import Navbar from "./../components/navbar.vue";
import {
  home_url,
  eventbrite_url,
  meetup_group_url,
  meetup_group_dashboard
} from "./../config/url.js";
import Profile from "./../childComponent/profile";

export default {
  name: "PageIndex",
  components: {
    Navbar,
    Profile
  },
  computed: {},
  created: async function() {
    let meetup_url = { meetup_group_url, meetup_group_dashboard };
    await this.$store.dispatch("MEETUP_PROFILE", meetup_url);
    await this.$store.dispatch("EVENTBRITE_PROFILE", eventbrite_url);
    await this.$store.dispatch("GOOGLE_PROFILE", home_url);
    return;
  }
};
</script>

<style scoped>
</style>

