<template>
  <q-layout>
    <div>
      <div class="login-screen-main">
        <div class="login-screen-second">
          <div class="login-screen-third">
            <h1 class="login-screen-heading-1">The Selfie task</h1>
            <a :href="auth_url">
              <div class="login-screen-google-login-box">
                <h3 class="login-screen-google-login-heading">
                  <i class="fab fa-google fab-google-login"></i> Singup/Login with Google
                </h3>
              </div>
            </a>
            <h3 class="login-screen-heading-small">
              or read more about:
              <a
                href="https://docs.google.com/presentation/d/1a9UjEfFblKQnNMFW5oGj-Ue4NXVt4Ytg6SNwOJGPUns/edit#slide=id.p4"
                class="login-text-underline"
              >The Task</a> or
              <a
                href="https://github.com/irohitb/google-functions-cloudfirestore/blob/master/readme.md"
                class="login-text-underline"
              >The code.</a>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </q-layout>
</template>

<script>
import { auth_url, home_url } from "./../config/url.js";

export default {
  name: "login",
  data() {
    return {
      auth_url: auth_url
    };
  },
  created: function() {
    return this.$store.dispatch("GOOGLE_PROFILE", home_url).then(() => {
      let userLoggedIn = this.$store.getters.GET_PROFILE_DATA.isAuthenticated;
      if (userLoggedIn) this.$router.push("/");
      return;
    });
  }
};
</script>

<style scoped>
.login-screen-main {
  background: url("./../assets/images/background4.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.login-screen-second {
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-screen-heading-small {
  color: #e0e0e0;
  font-size: 14px;
  margin-top: 20px;
}

.login-screen-heading-1 {
  color: white;
  font-size: 68px;
}

.login-screen-google-login-box {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  height: 50px;
  margin-top: 30px;
}

.login-screen-google-login-heading {
  font-size: 20px;
}

.login-screen-google-login-box:hover {
  font-size: 20px;
  color: black;
  background: white;
  cursor: pointer;
}
a {
  color: inherit;
}
.fab-google-login {
  margin-right: 8px;
}

.login-screen-google-login-box .fab-google-login:hover {
  margin-right: 8px;
}
.login-screen-heading-small {
  text-align: center;
}

.login-text-underline {
  text-decoration: underline;
}

.login-text-underline:hover {
  text-decoration: underline;
  color: #2196f3;
}
</style>
