<template>
  <div class="eventbrite-main">
    <h3
      v-if="GET_PROFILE_DATA.googleProfileData.eventbrite === true"
    >Your name on eventbrite is {{GET_EVENTBRITE_DATA.eventbriteProfileData["name"]}}</h3>
    <h3
      v-if="GET_PROFILE_DATA.googleProfileData.eventbrite === false"
    >Please Connect Your Eventbrite Account</h3>
    <h3
      v-if="GET_PROFILE_DATA.googleProfileData.eventbrite === 'warning'"
    >There is some problem connecting to EventBrite</h3>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "eventbrite",
  computed: {
    ...mapGetters(["GET_EVENTBRITE_DATA", "GET_PROFILE_DATA"])
  }
};
</script>

<style scoped>
.eventbrite-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 88vh;
}
</style>
