<template>
  <div>
    <div class="meetup-group-main">
      <h4 class="meetup-group-heading">Groups you are part of</h4>
      <div class="meetup-group-content">
        <div class="row">
          <div v-for="x in GET_MEETUP_DATA.meetupProfileData[0]['data']">
            <div class="col-md-6 col-12">
              <img
                :src="x.meta_category.photo.highres_link"
                class="home-screen-meetup-image"
                alt="meetup-group=pic"
              >
              <h5 class="meetup-group-heading-name">{{x.name}}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="meetup-problem">
      <h3
        v-if="GET_PROFILE_DATA.googleProfileData.meetup === false"
      >Please Connect Your meetup Account</h3>
      <h3
        v-if="GET_PROFILE_DATA.googleProfileData.meetup === 'warning'"
      >There is some problem connecting to meetup</h3>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  name: "meetupData",
  computed: {
    ...mapGetters(["GET_MEETUP_DATA", "GET_PROFILE_DATA"])
  }
};
</script>

<style scoped>
.meetup-problem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 88vh;
}
.home-screen-meetup-image {
  max-width: 80vw;
  max-height: 200px;
  width: auto;
  height: auto;
}

.meetup-group-content {
  display: flex;
  margin-top: 30px;
}

.meetup-group-heading {
  margin-bottom: 30px;
}

.meetup-group-heading-name {
  margin-top: 25px;
  font-size: 20px;
  font-weight: 400;
}

.meetup-group-heading-para {
  font-size: 18px;
  text-align: justify;
}

.meetup-group-main {
  margin-top: 30px;
}
</style>
