<template>
  <div>
    <div class="home-screen-profile-content">
      <div class="home-screen-main-profile-details">
        <img
          :src="GET_PROFILE_DATA.googleProfileData.image"
          alt="profile"
          class="home-screen-profile-image"
        >
        <p class="home-screen-profile-name">{{GET_PROFILE_DATA.googleProfileData.fullName}}</p>
        <p class="screen-left-box-profile-email">{{GET_PROFILE_DATA.googleProfileData.email}}</p>
        <SocialBoxes
          :url="meetup_auth_url"
          :status="GET_PROFILE_DATA.googleProfileData.meetup"
          :name="meetup"
        />
        <SocialBoxes
          :url="eventbrite_auth_url"
          :status="GET_PROFILE_DATA.googleProfileData.eventbrite"
          :name="eventbrite"
        />
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
import SocialBoxes from "./../components/socialBoxes";
import { eventbrite_auth_url, meetup_auth_url } from "./../config/url.js";
export default {
  name: "Profile",
  computed: {
    ...mapGetters(["GET_PROFILE_DATA"])
  },
  components: {
    SocialBoxes
  },
  data() {
    return {
      eventbrite_auth_url,
      meetup_auth_url,
      meetup: "meetup",
      eventbrite: "eventbrite"
    };
  }
};
</script>

<style scoped>
.home-screen-main-profile-details {
  margin-top: 50px;
  text-align: center;
}

.home-screen-profile-content {
  display: flex;
  margin-left: 5vw;
  height: 80vh;
  display: flex;
}

.home-screen-profile-image {
  width: 175px;
  height: 175px;
  border-radius: 100px;
}

.home-screen-profile-name {
  margin-top: 10px;
  font-size: 24px;
  margin-bottom: 0px;
}
</style>
