<template>
  <div class="nav-pages-main">
    <nav class="navbar navbar-expand-lg navbar-light">
      <img src="./../assets/images/selfie.png" alt="logo" class="nav-logo-img">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a @click="meetup">
              <p class="nav-link">Meetups</p>
            </a>
          </li>
          <li class="nav-item">
            <a @click="eventbrite">
              <p class="nav-link">Eventbrite</p>
            </a>
          </li>
          <li class="nav-item">
            <a @click="logoutUser">
              <p class="nav-link">Logout</p>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</template>

<script>
export default {
  name: "navbar",
  methods: {
    logoutUser() {
      return this.thisInfo.$store.dispatch("GOOGLE_PROFILE_LOGOUT").then(() => {
        this.$router.push("/login");
      });
    },
    meetup() {
      return this.$router.push("/meetup");
    },
    eventbrite() {
      return this.$router.push("/eventbrite");
    }
  },
  props: {
    thisInfo: {
      type: Object
    }
  }
};
</script>

<style scoped>
.nav-pages-main {
  border-bottom: 1px solid #4caf50;
  height: 12vh;
  width: 100vw;
}

.nav-item {
  margin-right: 30px !important;
}

.nav-logo-img {
  max-height: 10vh;
  max-width: 100vw;
  height: auto;
  width: auto;
}
</style>
