<template>
  <div class="social-boxes-main-class">
    <a :href="status === true ? '#' : url">
      <div class="social-boxes-content social-box-unauthroized" v-if="status === false">
        <p class="social-boxes-account-status-para">
          <i class="fas fa-minus-circle social-box-icon social-box-danger-icon"></i>
          {{name}}
        </p>
      </div>
      <div class="social-boxes-content social-box-success" v-if="status === true">
        <p class="social-boxes-account-status-para">
          <i class="fas fa-check-circle social-box-icon social-box-success-icon"></i>
          {{name}}
        </p>
      </div>
      <div class="social-boxes-content social-box-warning" v-if="status === 'warning'">
        <p class="social-boxes-account-status-para">
          <i class="fas fa-exclamation-circle social-box-icon social-box-warning-icon"></i>
          {{name}}
        </p>
      </div>
    </a>
  </div>
</template>

<script>
//This component will take href -> linkk to authenticate
//Status of the service

export default {
  name: "socialBoxes",
  props: ["status", "url", "name"]
};
</script>

<style  scoped>
.social-boxes-main-class {
  margin-top: 20px;
}

.service-boxes-name {
  margin-left: 5px;
}

.social-box-unauthroized {
  background: #e53935;
  color: white;
}
.social-box-unauthroized:hover {
  background: #f44336;
  color: white;
}

.social-boxes-content {
  font-size: 22px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
}

.social-boxes-account-status-para {
  margin-bottom: 0px;
}

.social-box-success {
  color: white;
  background: #4caf50;
}

.social-boxes-content {
  width: 250px;
  height: 50px;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.social-boxes-account-status-para {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.social-box-warning {
  color: white;
  background: #ffc107;
}

.social-box-warning:hover {
  color: white;
  background: #ff8f00;
}
a:hover {
  text-decoration: none;
  text-transform: none;
}

.social-box-icon {
  margin-right: 5px;
}

.social-boxes-none:hover {
  text-decoration: none;
  cursor: not-allowed;
  color: inherit;
}
</style>
